global
    log /dev/log local0
    log localhost local1 notice
    maxconn 2000
    daemon
 
defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    timeout connect 5000
    timeout client 50000
    timeout server 50000
 
frontend http-in
    bind *:8080
    default_backend message
    timeout connect 5s
    timeout server 10s
    timeout client 10s
 
backend message
    stats enable
    stats auth admin:admin
    stats uri /haproxy?stats
    balance roundrobin
    mode http

    option httpchk
    http-check connect
    http-check send meth GET uri /health
    http-check expect status 200

    server message1 message1:9007 check
    server message2 message2:9008 check
    server message3 message3:9009 check

    


